<mat-toolbar color="primary">
    Pomodoro
    <span class="left">
        
        <button mat-button routerLink="/folder">Csoportok</button>
    </span>
    <span class="right">
        <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">
            Bejelentkezés
        </button>
        <button *ngIf="authService.isLoggedIn()" mat-button
                (click)="authService.logout()" routerLink="/login">
            Kijelentkezés
        </button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>